{% extends 'base.html' %}


{% block content %}
    {% for film in films %}
         <div class="card mb-2">  <!-- Отображаем карточки с фильмами -->
            <div class="card-header">
                Жанр: <a href="#">{{ film.genre }}</a>
            </div>
            <div class="card-body">
                <div class="media">
                    <img src="{{ film.image.url }}" class="mr-3" width="320" >
                    
                    <div class="media-body mt-2">
                        <h5 class="card-title">{{ film.title }}</h5>
                        <p class="card-text">{{ film.annotation }}</p>
                    </div>
                    <div class="mt-2"> 
                        <button type="button" class="btn btn-primary btn-sm">Смотреть</button>
                        <button type="button" class="btn btn-primary btn-sm">Подробнее</button>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Дата выпуска: <a href="#">{{ film.release_year }} год</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}