{% extends 'base.html' %}

{% block header %}

    <h3>Сортировка по жанру "{{ cur_genre.genre }}":</h3>

{% endblock %}


{% block content %}
    {% for film in films %}
         <div class="card mt-3">  <!-- Отображаем карточки с фильмами -->
            <div class="card-header">
                Жанр: <a href="#">{{ film.genre }}</a>
            </div>
            <div class="card-body">
                <div class="media">
                    <img src="{{ film.image.url }}" class="mr-3" width="320" >
                    
                    <div class="media-body mt-2">
                        <h5 class="card-title">{{ film.title }}</h5>
                        <p class="card-text">{{ film.annotation|truncatewords:50 }}</p>
                    </div>
                    <div class="mt-2"> 
                        <a href="{{ film.url }}"><button type="button" class="btn btn-primary btn-sm">Смотреть</button></a>
                        <a href="{{ film.get_absolute_url }}"><button type="button" class="btn btn-primary btn-sm">Подробнее</button></a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Дата выпуска: {{ film.release_year }} год
            </div>
        </div>
    {% endfor %}
{% endblock %}
